--- 
commands: 
  create_config_dir:
    command: "mkdir /opt/vsc/config/"
    ignoreErrors: true
  create_log_dir:
    command: "mkdir /opt/vsc/logs/"
    ignoreErrors: true

files:
  /opt/vsc/config/esb-config.properties: 
    content: |-
        property.search.api.url=https://10.0.0.10:8243/property_int/search
        property.list.api.url=https://10.0.0.10:8243/property_int/list
        property.avail.api.url=https://10.0.0.10:8243/property_int/avail
        reserve.reservation.api.url=https://10.0.0.10:8243/reserve_int/reserve
        reserve.retrieveReservation.api.url=https://10.0.0.10:8243/reserve_int/retrieve
        reserve.cancel.api.url=https://10.0.0.10:8243/reserve_int/cancel
        quote.quotes.api.url=https://10.0.0.10:8243/quote_int/quote
        legacy.property.search.api.url=https://10.0.0.10:8243/legacy/property_int/search
        legacy.property.list.api.url=https://10.0.0.10:8243/legacy/property_int/list
        legacy.property.avail.api.url=https://10.0.0.10:8243/legacy/property_int/avail
        legacy.reserve.reservation.api.url=https://10.0.0.10:8243/legacy/reserve_int/reserve
        legacy.reserve.retrieveReservation.api.url=https://10.0.0.10:8243/legacy/reserve_int/retrieve
        legacy.reserve.cancel.api.url=https://10.0.0.10:8243/legacy/reserve_int/cancel
        legacy.quote.quotes.api.url=https://10.0.0.10:8243/legacy/quote_int/quote
    group: root
    mode: "000755"
    owner: root
  /opt/vsc/logs/vsc-distribution.log:
    content: |-
        #log start
    group: root
    mode: "000766"
    owner: root