---
commands:
  create_config_dir:
    command: "mkdir /opt/vsc/config/"
    ignoreErrors: true
files:
  /opt/vsc/config/partner-config.properties:
    content: |-
        ID=ICE
        password=VscTest
        ICE_PARTNER_ID=ICE
        ICE_CURRENCY_CODE=USD
    group: root
    mode: "000755"
    owner: root
